*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}

h1 {
    background-color: black;
    color: whitesmoke;
    padding-top: 20px;
    font-size: 3em;
    font-family: "degular";
    font-display:auto;
    font-style:normal;
    font-weight:400;
    font-stretch:normal;
}

h2 {
    color: whitesmoke;
    font-size: 2em;
}

body {
    font-family: "degular";
    font-size: 1.5em;
    align-items: center;
    background-color: black;
    color: rgb(69, 69, 252);
    }
     
.menues {
    width: 100%;
    position: absolute;
    z-index: 1;
    position: fixed;
    font-family: "degular";
    font-weight: 500;
    font-size: 25px;
    background-color: black;          
    }

.menues a {
        color: rgb(255, 255, 255);
        text-decoration: none;
}

.menues a:hover {
    color:blue;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.dropdown-menu {
    background-color: black;
}

.videobg > video {
    width: 100%;
    height: 100%;
    align-content: center;
}

.contenedorzap {
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 25px;
    display: flex;
    
}

.titulo {
    padding-left: 40px;
}

.carousel-control-prev,
.carousel-control-next {
  color: blue; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: blue; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: darkblue; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /*sombra m치s pronunciada*/
  border-radius: 50%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color:darkblue; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

.tabla {
    padding-top: 30px;
}

.boton {
    padding-top: 30px;
}

.footer {
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(69, 69, 252);
    font-size: 30px;
}

@media (min-aspect-ratio: 16/9){
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video {
        width: auto;
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* Estilos para pantallas m치s peque침as (ejemplo: tablets y dispositivos m칩viles) */
    .titulo {
     font-size: 30%;
    }

    /* .tabla th, .tabla td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    } */

    .boton {
      text-align: center;
    }
  }
