*{
    margin: 3px;;
    padding: 3px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    font-size: 1em;
    color: chartreuse;
}

h1 {
    font-size: 5em;
    color: whitesmoke;
}

h2 {
    font-size: 3em;
    color: whitesmoke;
}

